<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary" style="position: inherit!important;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#" (click)="onSelect('menu1')">menue1</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="onSelect('menu2')">menu2</a></li>
      </ul>
    </div>
  </div>
</nav>
